.archive-content {

  .page-header {
    padding-top: 35px;
  }

  .page-title {
    text-align: center;
  }

  .pagination {
    @include container(790px, 35px, 35px);
    width: 100%;
    text-align: center;

    .screen-reader-text {
      display: none;
    }
  }
}

