/*** Base ***/

// Page Structure
body, main, footer, header, .pageWrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  color: $base-text-color;
  font-size: $base-font-size;
  font-family: 'LatoWeb', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.pageWrapper {
  height: 100%;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

// Base Text
a {
  color: $bright-blue;
  text-decoration: none;
}

a:hover {
  color: #0288C2;
  cursor: pointer;
}

b, strong {
  font-weight: $font-bold;
}

h1,
h2,
h3 {
  font-weight: $font-bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

hr {
  border: none;
  display: block;
  content: '';
  margin: 0 auto 40px;
  height: 27px;
  width: 1px;
  background-color: $medium-gray;
  transform: rotate(22deg);
}

p {
  letter-spacing: 0.01em;
}

em {
  font-style: italic;
}

// Utility Styles
.sectionWhite {
  background-color: $white;
}

.sectionGrey {
  background-color: $light-grey;
}

.sectionNavy {
  background-color: $navy;
}

.bodyContent section:not(:first-child) {
  border-top: 80px solid transparent;
  margin-top: -80px;
  background-clip: padding-box;
}

.bodyContent.subnavPush section {
  border-top: 140px solid transparent;
  margin-top: -140px;
  background-clip: padding-box;
}

// Buttons
.button {
  border: solid;
  border-radius: 0.1875rem;
  cursor: pointer;
  font-weight: $font-bold;
  box-shadow: none;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.025rem;
  transition: $default-transition;
  display: inline-block;
}

.buttonExtraLarge {
  line-height: 2.75;
  min-width: 18.75rem;
  padding: 0 1.875rem;
  border-width: 0.1875rem;
}

.buttonLarge {
  line-height: 2.75;
  min-width: 13.75rem;
  padding: 0 1.875rem;
  border-width: 0.1875rem;
}

.buttonSmall {
  line-height: 2.4375;
  min-width: 9.25rem;
  padding: 0 1.25rem;
  border-width: 0.125rem;
}

.buttonPrimary {
  background-color: $primary-green;
  border-color: $primary-green;
  color: $white;
}

.buttonPrimary:hover,
.buttonPrimary:focus {
  background-color: $button-hover-focus;
  border-color: $button-hover-focus;
  color: $white;
}

.buttonSecondary {
  background-color: transparent;
  border-color: $primary-green;
  color: $primary-green;
}

.buttonSecondary:hover,
.buttonSecondary:focus {
  background-color: $primary-green;
  border-color: $primary-green;
  color: $white;
}

.button:active {
  background-color: $button-active;
  border-color: $button-active;
  color: $white;
}

.tertiaryLink {
  display: inline-flex;
  align-items: center;
  padding-bottom: 5px;
  text-align: left;
  line-height: normal;
  color: $base-text-color;
  font-weight: $font-bold;
  border-bottom: 4px solid $primary-green;
  font-size: 18px;
  transition: $default-transition;
}

.tertiaryLink.tertiaryLinkLight {
  color: $white;
}

.tertiaryLink.tertiaryLinkLight svg path {
  fill: $white;
}

.tertiaryLink.tertiaryLinkDark {
  color: $base-text-color;
}

.tertiaryLink:hover,
.tertiaryLink:focus {
  color: $primary-green;
}

.tertiaryLink:active {
  color: $button-hover-focus;
}

// .tertiaryLink:after {
//   background: $primary-green;
//   display: block;
//   margin: 5px auto 0 auto;
//   content: '';
//   width: 100%;
//   height: 4px;
// }

.tertiaryLink svg {
  display: block;
  margin-left: 15px;
  width: 19px;
  height: 12px;
  min-width: 19px;
  min-height: 12px;
}

.tertiaryLink svg path {
  transition: $default-transition;
}

.tertiaryLink:hover svg path,
.tertiaryLink:focus svg path {
  fill: $primary-green;
}

.tertiaryLink:active svg path {
  fill: $button-hover-focus;
}

// Hide desktop footer on split sreen template
.page-template-split-screen #uship-footer {
  display: none;
}

// Special case styles on a page by page basis. These things need to be worked into module options
.page-id-3096 {

  .videoFeature-container {
    padding-bottom: 0;
  }

  .videoFeature-video {
    max-width: 620px;
  }
}

.siteNav-profileContainer .siteNav-dropdownContainer .siteNav-dropdownLinks {
	overflow-x: hidden;
}
