/*** Base ***/

html, body {
  height: 100%;
}

body {
  min-width: 300px;
  width: 100%;
}

a {
  color: $bright-blue;
  text-decoration: none;
}

a:hover {
  color: #0288C2;
}

b, strong {
  font-weight: $font-bold;
}

.pageHeader-primaryNav {
  display: none;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pageContent {
  flex: 1 0 auto;
  padding-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media #{$default-break} {
    padding-top: 64px;
  }
}

.page-content {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pageContent.subNavPush {
  padding-top: 140px;

  @media #{$default-break} {
    padding-top: 64px;
  }
}

.sectionWhite {
  background-color: $white;
}

.sectionGrey {
  background-color: $light-grey;
}

.sectionNavy {
  background-color: $navy;
}

/*** Buttons ***/

.button {
  display: inline-block;
  text-align: center;
  letter-spacing: 0.025em;
  border-radius: 3px;
  font-size: 16px;
  line-height: 16px;
  font-weight: $font-bold;
  transition: all 0.15s ease-in-out;
}

.buttonExtraLarge {
  padding: 18px 30px;
  min-width: 300px;
  min-height: 50px;
}

.buttonLarge {
  padding: 18px 30px;
  min-width: 220px;
  min-height: 50px;
}

.buttonSmall {
  padding: 15px 20px;
  min-width: 148px;
  min-height: 43px;
}

.buttonPrimary {
  background-color: $primary-green;
  color: $white;
}

.buttonPrimary:hover,
.buttonPrimary:focus {
  background-color: $button-hover-focus;
  color: $white;
}

.buttonSecondary {
  background-color: transparent;
  border: 3px solid $primary-green;
  color: $primary-green;
}

.buttonSecondary.buttonSmall {
  padding: 13px 20px;
  border: 2px solid $primary-green;
}

.buttonSecondary.buttonLarge {
  padding: 15px 20px;
}

.buttonSecondary.buttonExtraLarge {
  padding: 15px 20px;
}

.buttonSecondary:hover,
.buttonSecondary:focus {
  background-color: $primary-green;
  color: $white;
}

.button:active {
  background-color: $button-active;
  border-color: $button-active;
  color: $white;
}

.tertiaryLink {
  display: inline-block;
  color: $base-text-color;
  font-weight: $font-bold;
  font-size: 18px;
  transition: all 0.15s ease-in-out;
}

.tertiaryLink.tertiaryLinkLight {
  color: $white;
}

.tertiaryLink.tertiaryLinkLight svg path {
  fill: $white;
}

.tertiaryLink.tertiaryLinkDark {
  color: $base-text-color;
}

.tertiaryLink:hover,
.tertiaryLink:focus {
  color: $primary-green;
}

.tertiaryLink:active {
  color: $button-hover-focus;
}

.tertiaryLink:after {
  background: $primary-green;
  display: block;
  margin: 5px auto 0 auto;
  content: '';
  width: 100%;
  height: 4px;
}

.tertiaryLink svg {
  display: inline-block;
  margin-left: 15px;
  width: 19px;
  height: 12px;
}

.tertiaryLink svg path {
  transition: all 0.15s ease-in;
}

.tertiaryLink:hover svg path,
.tertiaryLink:focus svg path {
  fill: $primary-green;
}

.tertiaryLink:active svg path {
  fill: $button-hover-focus;
}

/*** Override some styles in the DLS Header/Footer ***/

.footer-countryChanger {
  display: none;
}

.page-template-split-screen .footerDisplay {
  display: none;
}

@media screen and (max-width: 750px) {
  .footerDisplay {
      display: none !important;
  }
}