/*** Base ***/

html, body {
  height: 100%;
}

body {
  min-width: 300px;
  width: 100%;
}

a {
  color: $bright-blue;
  text-decoration: none;
}

a:hover {
  color: #0288C2;
}

b, strong {
  font-weight: $font-bold;
}

.pageHeader-primaryNav {
  display: none;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pageContent {
  flex: 1 0 auto;
  padding-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media #{$default-break} {
    padding-top: 64px;
  }
}

.page-content {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pageContent.subNavPush {
  padding-top: 140px;

  @media #{$default-break} {
    padding-top: 64px;
  }
}

.sectionWhite {
  background-color: $white;
}

.sectionGrey {
  background-color: $light-grey;
}

.sectionNavy {
  background-color: $navy;
}

/*** Buttons ***/

.button {
  border: solid;
  border-radius: 0.1875rem;
  cursor: pointer;
  font-weight: $font-bold;
  box-shadow: none;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.025rem;
  transition: all 0.15s ease-in-out;
  display: inline-block;
}

.buttonExtraLarge {
  line-height: 2.75;
  min-width: 18.75rem;
  padding: 0 1.875rem;
  border-width: 0.1875rem;
}

.buttonLarge {
  line-height: 2.75;
  min-width: 13.75rem;
  padding: 0 1.875rem;
  border-width: 0.1875rem;
}

.buttonSmall {
  line-height: 2.4375;
  min-width: 9.25rem;
  padding: 0 1.25rem;
  border-width: 0.125rem;
}

.buttonPrimary {
  background-color: $primary-green;
  border-color: $primary-green;
  color: $white;
}

.buttonPrimary:hover,
.buttonPrimary:focus {
  background-color: $button-hover-focus;
  border-color: $button-hover-focus;
  color: $white;
}

.buttonSecondary {
  background-color: transparent;
  border-color: $primary-green;
  color: $primary-green;
}

.buttonSecondary:hover,
.buttonSecondary:focus {
  background-color: $primary-green;
  border-color: $primary-green;
  color: $white;
}

.button:active {
  background-color: $button-active;
  border-color: $button-active;
  color: $white;
}

.tertiaryLink {
  display: inline-block;
  color: $base-text-color;
  font-weight: $font-bold;
  font-size: 18px;
  transition: all 0.15s ease-in-out;
}

.tertiaryLink.tertiaryLinkLight {
  color: $white;
}

.tertiaryLink.tertiaryLinkLight svg path {
  fill: $white;
}

.tertiaryLink.tertiaryLinkDark {
  color: $base-text-color;
}

.tertiaryLink:hover,
.tertiaryLink:focus {
  color: $primary-green;
}

.tertiaryLink:active {
  color: $button-hover-focus;
}

.tertiaryLink:after {
  background: $primary-green;
  display: block;
  margin: 5px auto 0 auto;
  content: '';
  width: 100%;
  height: 4px;
}

.tertiaryLink svg {
  display: inline-block;
  margin-left: 15px;
  width: 19px;
  height: 12px;
}

.tertiaryLink svg path {
  transition: all 0.15s ease-in;
}

.tertiaryLink:hover svg path,
.tertiaryLink:focus svg path {
  fill: $primary-green;
}

.tertiaryLink:active svg path {
  fill: $button-hover-focus;
}

/*** Override some styles in the DLS Header/Footer ***/

.footer-countryChanger {
  display: none;
}

.page-template-split-screen .footerDisplay {
  display: none;
}

@media screen and (max-width: 750px) {
  .footerDisplay {
      display: none !important;
  }
}