/*** Blog Landing ***/

.categoryMenu {
  @include container(1020px, 50px, 9px);
  width: 100%;

  @media only screen and (max-width: 1080px) {
    display: none;
  }
}

.categoryMenu-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryMenu-list li {
  margin: 0 35px;
  text-align: center;
}

.categoryMenu-list li a {
  padding-bottom: 9px;
  cursor: pointer;
  color: $base-text-color;
  text-transform: uppercase;
  font-weight: $font-bold;
  letter-spacing: 0.1em;
  line-height: 24px;
}

.categoryMenu-list li a {
  border-bottom-color: transparent;
}

.categoryMenu-list li.categoryMenu-active a {
  transition: border-bottom-color 0.2s ease;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: $bright-blue;
}

.categoryMenu-list li a:hover {
  color: $bright-blue;
}

.postsGroup {
  @include container(1080px, 75px, 64px);
  width: 100%;
  overflow: hidden;

  @media only screen and (max-width: 1140px) {
    max-width: 750px;
  }

  @media only screen and (max-width: 780px) {
    max-width: 390px;
  }
}

.postsGroup-container,
.alm-reveal {
  display: flex;
  flex-wrap: wrap;
}

.postThumb {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 300px;
  margin: 0 30px 100px;

  @media #{$default-break} {
    margin: 0 auto 60px;
    min-width: 290px;
  }

  .tertiaryLink {
    display: inline-table;
  }
}

.post-featureImage-link {
  display: block;
}

.post-featureImage {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  height: auto;

  @media #{$default-break} {
    max-width: 290px;
    min-width: 290px;
  }
}

.post-tag-group {
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-tag {
  text-transform: uppercase;
  font-weight: $font-bold;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
}

.post-title {
  display: block;
  font-weight: $font-bold;
  text-transform: uppercase;
  font-size: 18px;
  color: $base-text-color;
  letter-spacing: 0.05em;
  line-height: 23px;
  margin-bottom: 30px;
}

.post-title:hover {
  color: $bright-blue;
  transition: all 0.1s ease-in-out;
}

.ajax-load-more-wrap {
  width: 100%;
}

.alm-btn-wrap {
  padding-right: 60px;
}

.alm-load-more-btn {
  display: block;
  margin: 0 auto;
}

.alm-load-more-btn.done {
  opacity: 0.7;
  border-color: #B8B8B8;
  background-color: #B8B8B8;
  cursor: default;
}