/*** Careers ***/

.careers-container {
  @include container(780px, 35px, 70px);
}

.careers-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  border-bottom: 1px solid $divider-color;

  @media #{$default-break} {
    flex-direction: column;
    align-items: flex-start;
  }
}

.careers-entry-text {
  padding-right: 20px;

  @media #{$default-break} {
    padding-right: 0;
    padding-bottom: 20px;
  }
}

.careers-entry-title {
  font-weight: $font-bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-bottom: 5px;
}

.careers-entry-info {
  font-size: 14px;
}

.careers-entry-info-title {
  text-transform: uppercase;
  font-weight: $font-bold;
  letter-spacing: 0.05em;
}

.careersDetail-container {
  @include container(780px, 30px, 70px);
}