/*** Contact ***/


body.page-template-contact {
  background: $light-grey;
}

.contactForm-container {
  max-width: 1000px;
  margin: 80px auto;
  padding: 30px;
  background: $white;
  border: 1px solid $divider-color;
  box-shadow: 0 2px 0 0 #d1d1d1;
}