/*** Contact ***/


body.page-template-contact {
  background: $light-grey;
}

.contactForm-container {
  @include container(1000px, 85px, 85px);
  overflow: hidden;
  width: 100%;
}

.contactForm-inner {
  padding: 30px;
  background: $white;
  border: 1px solid $divider-color;
  box-shadow: 0 2px 0 0 #d1d1d1;
}