/*** Footer ***/

.pageFooter-container {
  @include container(1180px);
  @include section-padding(30px);
  @include display(flex);
  @include justify-content(center);

  @media #{$default-break} {
    @include flex-direction(column);
  }
}

.pageFooter-container > * {
  @include flex(1);

  &:not(:last-child) {
    margin-right: 50px;

    @media #{$default-break} {
      margin-right: 0;
    }
  }
}

.pageFooter-links {
  @media #{$default-break} {
    order: 1;
    padding-bottom: 20px;
  }
}

.pageFooter-legal {
  font-size: 16px;

  @media #{$default-break} {
    order: 2;
  }
}

.pageFooter-links-list {
  float: right;

  @media #{$default-break} {
    float: none;
  }
}

.pageFooter-links-list-item {
  float: left;
}

.pageFooter-links-list-item:not(:last-child):after {
  content: "|";
  padding: 0 5px;
}

.pageFooter-links-list-item a {
  color: $bright-blue;
}