/*** Form ***/

.footer-countryChanger select {
  -webkit-appearance: none !important;
  border-radius: 0;
  background-color: #FAFAFA;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI0cHgiIGhlaWdodD0iMTBweCIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCI+PHBhdGggZD0iTTUxMiA0NTQuNGwtMjYyLjQtMjYyLjRoLTI0OS42bDUxMiA1MTIgNTEyLTUxMmgtMjQ5LjZ6Ij48L3BhdGg+PC9zdmc+');
  background-position: 100% center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  padding-top: 0.51563rem;
  padding-right: 0.51563rem;
  padding-bottom: 0.51563rem;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.75);
  line-height: normal;
  border-radius: 0;
}

.footer-countryChanger option {
  font-weight: $font-bold;
}

input[type="submit"] {
  border: none;
  outline: none;
}

label {
  font-size: 11px;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  font-weight: $font-bold;
}

.pardotForm-intro {
  padding-bottom: 25px;
  text-align: left;
}

.pardotForm-subintro {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
  font-weight: $font-bold;
  border-top: 1px solid $divider-color;
}

.pardotForm-group {
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;

  @media #{$default-break} {
    padding-bottom: 0;
  }
}

.pardotForm-field {
  width: 50%;
  float: left;
  text-align: left;

  @media #{$default-break} {
    width: 100%;
    padding-bottom: 20px;
  }
}

.pardotForm-field:first-child {
  padding-right: 30px;

  @media #{$default-break} {
    padding-right: 0;
  }
}

.pardotForm-field label,
.pardotForm-field input,
.pardotForm-field select {
  display: block;
  width: 100%;
}

.pardotForm-field label {
  padding-bottom: 12px;
}

.pardotForm-field input,
.pardotForm-field select {
  border: 1px solid $divider-color;
  border-radius: 4px;
  min-height: 50px;
  min-width: 100px;
}

.pardotForm-field input {
  padding: 5px 5px 5px 20px;
}

.pardotForm-field select {
  color: $dark-grey;
  cursor: pointer;
  padding: 5px 5px 5px 15px;
  -webkit-appearance: none !important;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NCAyNCI+PHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTIzLjM3LDUuNTlhMi4xOSwyLjE5LDAsMCwwLTMuMSwwTDEyLDEzLjg1LDMuNzUsNS41OWEyLjE5LDIuMTksMCwwLDAtMy4xLDMuMWw5LjgxLDkuODFhMi4xOSwyLjE5LDAsMCwwLDMuMSwwbDkuODEtOS44MUEyLjE5LDIuMTksMCwwLDAsMjMuMzcsNS41OVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0wLjAxIC0wLjA1KSIgZmlsbD0iI2JiYjhiOCIvPjwvc3ZnPg==');
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: 44px 10px;
  transition: all 0.15s ease-in-out;
}

.pardotForm-field select:hover,
.pardotForm-field select:active,
.pardotForm-field select:focus, {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NCAyNCI+PHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTIzLjM3LDUuNTlhMi4xOSwyLjE5LDAsMCwwLTMuMSwwTDEyLDEzLjg1LDMuNzUsNS41OWEyLjE5LDIuMTksMCwwLDAtMy4xLDMuMWw5LjgxLDkuODFhMi4xOSwyLjE5LDAsMCwwLDMuMSwwbDkuODEtOS44MUEyLjE5LDIuMTksMCwwLDAsMjMuMzcsNS41OVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0wLjAxIC0wLjA1KSIgZmlsbD0iIzAyQUFGMyIvPjwvc3ZnPg==');
}

.pardotForm-field input:focus,
.pardotForm-field select:focus {
  outline: none;
  border: 1px solid $bright-blue;
}

.pardotForm-field option {
  color: $base-text-color;
}

.pardotForm-submit-container {
  display: inline-block;
  width: 100%;
  border-top: 1px solid $divider-color;
  padding-top: 32px;
  margin-top: 18px;

  @media #{$default-break} {
    border: none;
    padding: 0;
    margin: 0;
  }
}

.pardotForm-submit-container .buttonExtraLarge {
  @media #{$default-break} {
    min-width: 100%;
    padding: 0;
  }
}

.errorAlert {
  display: none;
  min-height: 44px;
  margin: 0 auto 30px;;
  padding: 12px 15px 12px;
  line-height: 18px;
  text-align: left;
  border: 1px solid $light-red;
  color: $red;
  font-weight: $font-bold;
  font-size: 14px;
  border-radius: 4px;
  background-color: $light-red-background;
}

.errorAlert:before {
  display: block;
  float: left;
  content: '';
  width: 18px;
  height: 18px;
  margin: 0px 15px 17px 0;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTEyLDBBMTIsMTIsMCwxLDAsMjQsMTIsMTIsMTIsMCwwLDAsMTIsMFptMCwxOGExLjEzLDEuMTMsMCwxLDEsMS4xMy0xLjEzQTEuMTMsMS4xMywwLDAsMSwxMiwxOFptMS4wOS00LjY5YTEuMTMsMS4xMywwLDAsMS0yLjI2LDBWNy4xNWExLjEzLDEuMTMsMCwxLDEsMi4yNiwwdjYuMThaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0wLjAyKSIgZmlsbD0iI2ZjY2VkMCIvPjwvc3ZnPg==');
  background-position: 100% center;
  background-repeat: no-repeat;
}

.pardotForm-field input.error,
.pardotForm-field select.error {
  border: 1px solid $dark-red;
}

.pardotForm-field select.valid,
.pardotForm-field select.valid:focus,
.pardotForm-field select.valid:active {
  color: $base-text-color;
}

.pardotForm-field label.error {
  display: block;
  float: left;
  padding-top: 8px;
  padding-bottom: 0;
  line-height: 12px;
  text-transform: none;
  color: $red;
}

.pardotForm-field label.error:before {
  display: block;
  float: left;
  content: '';
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTEyLDBBMTIsMTIsMCwxLDAsMjQsMTIsMTIsMTIsMCwwLDAsMTIsMFptMCwxOGExLjEzLDEuMTMsMCwxLDEsMS4xMy0xLjEzQTEuMTMsMS4xMywwLDAsMSwxMiwxOFptMS4wOS00LjY5YTEuMTMsMS4xMywwLDAsMS0yLjI2LDBWNy4xNWExLjEzLDEuMTMsMCwxLDEsMi4yNiwwdjYuMThaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0wLjAyKSIgZmlsbD0iI0Y2NUY1RiIvPjwvc3ZnPg==');
  background-position: 100% center;
  background-repeat: no-repeat;
}

.formSuccess {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
  width: 100%;
  cursor: default;
  max-width: 540px;
  margin: 0 auto;
  background: $white;
  border: 1px solid $divider-color;
  box-shadow: 0 2px 0 0 #d1d1d1;
}

.formSuccess-inner {
  padding: 30px;
}

.formSuccess-intro {
  padding-bottom: 25px;
  text-align: left;
}

.formSuccess-body {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid $divider-color;
  border-bottom: 1px solid $divider-color;
}

.formSuccess-body-text {
  font-weight: $font-bold;
  max-width: 300px;
  margin: 0 auto;
}

.formSuccess-cta {
  margin-top: 30px;
}

.formSuccess-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE1LjUzLDEybDcuODQtOC4xMmEyLjMzLDIuMzMsMCwwLDAsMC0zLjIxLDIuMTQsMi4xNCwwLDAsMC0zLjEsMEwxMiw5LjIyLDMuNzUsMC42N2EyLjE0LDIuMTQsMCwwLDAtMy4xLDAsMi4zMywyLjMzLDAsMCwwLDAsMy4yMUw4LjQ4LDEyLDAuNjUsMjAuMTJhMi4zMywyLjMzLDAsMCwwLDAsMy4yMSwyLjE0LDIuMTQsMCwwLDAsMy4xLDBMMTIsMTQuNzhsOC4yNiw4LjU2YTIuMTQsMi4xNCwwLDAsMCwzLjEsMCwyLjMzLDIuMzMsMCwwLDAsMC0zLjIxWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTAuMDEgMCkiIGZpbGw9IiM5OTk5OTkiLz48L3N2Zz4=');
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: 30px 8px;
  width: 30px;
  height: 30px;
  text-indent: -9999px;

  @media #{$default-break} {
    top: 5px;
    right: 5px;
  }
}

.formSuccess-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  padding: 100px 15px 15px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.5);
}

.formSuccess-overlay:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.05em;
  height: 100%;

  @media #{$default-break} {
    height: auto;
  }
}