/*** Header ***/
.pageHeader {
  position: fixed;
  width: 100%;
  background: $white;
  z-index: 3;
}

.pageHeader-primaryRow:after {
  position: absolute;
  z-index: -1;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: $pageheader-boxshadow;
}

.pageHeader-homeLink {
  display: block;
  padding: 15px 34px;
  height: $pageheader-height;
  max-width: 138px;
  background: $uship-blue;
}

.pageHeader-logo {
  height: 49px;
  background: transparent url("#{$asset-path}/uship-logo.png") center center no-repeat;
  background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/uship-logo.svg");
  background-repeat: no-repeat;
}

/*** Sub Nav ***/
.pageHeader-subNav {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: $subnav-height;
  background: $white;
}

.menu-about-sub-nav-container {
  float: left;

  li {
    float: left;
    min-width: 138px;
    text-align: center;
    text-transform: $uppercase;
    line-height: $subnav-height;
  }

  a {
    padding-bottom: 5px;
    color: $base-text-color;
  }
}

.pageHeader-subNav-title {
  background: $subnav-title-bg;
  font-weight: $bold;
}

/*** Current Menu Item/Hover ***/
.pageHeader .current-menu-item a,
.pageHeader .menu-item a:hover {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: $bright-blue;
}