@mixin background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin overflow-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin container($container-width, $padding-top, $padding-bottom) {
  @include clearfix;
  @include calc(max-width, "#{$container-width} + #{$section-padding}*2");
  margin: {
    left: auto;
    right: auto;
  }
  padding: {
    top: $padding-top;
    right: $section-padding;
    bottom: $padding-bottom;
    left: $section-padding;
  }
}