@mixin background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin container($container-width, $padding-tb, $padding-lr) {
  @include clearfix;
  @include calc(max-width, "#{$container-width} + #{$padding-lr}*2");
  margin: {
    left: auto;
    right: auto;
  }
  padding: {
    top: $padding-tb;
    right: $padding-lr;
    bottom: $padding-tb;
    left: $padding-lr;
  }
}