/*** Single Post ***/

article.post {
  @include container(620px, 50px, 50px, 20px);
}

article .post-featureImage {
  width: 100%;
  height: auto;
}

.entry-header {
  padding-top: 25px;
  padding-bottom: 40px;
}

.entry-title {
  padding-bottom: 30px;
  font-family: $lato-bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.entry-meta,
.entry-footer {
  font-family: $lato-bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 14px;
}

.posted-on {
  padding-top: 14px;
  padding-bottom: 12px;
  margin-bottom: 42px;
  border-top: 1px solid $divider-color;
  border-bottom: 1px solid $divider-color;
  line-height: 24px;

  @media #{$default-break} {
    border: none;
    padding-top: 0;
    margin-bottom: 14px;
  }
}

.entry-content {
  line-height: 30px;
}

.entry-content p {
  padding-bottom: 35px;
}

.entry-header .cat-list {
  float: right;
}

.entry-meta .cat-list {
  @media #{$default-break} {
    display: none;
  }
}

.shareButtons {
  float: right;

  @media #{$default-break} {
    float: none;
    margin-top: 14px;
    padding-top: 14px;
    padding-bottom: 12px;
    border-top: 1px solid $divider-color;
    border-bottom: 1px solid $divider-color;
  }
}

.shareButtons .addtoany_list {
  display: inline-block;
  float: right;
  margin-left: 15px;
}

.addtoany_list a {
  float: left;
  width: 24px;
  height: 24px;
}

.addtoany_list a:not(:first-child) {
  margin-left: 10px;

  @media #{$default-break} {
    margin-left: 60px;
  }
}

.shareButtons .a2a_button_facebook {
  background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/facebook.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.shareButtons .a2a_button_twitter {
  background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/twitter.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.shareButtons .a2a_button_linkedin {
  background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/linkedin.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-byline {
  padding-top: 14px;
  padding-bottom: 12px;
  margin-bottom: 30px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  line-height: 24px;

  @media #{$default-break} {
    border: none;
    padding-top: 0;
    margin-bottom: 14px;
  }
}

.entry-footer .cat-list {
  float: left;
}