/*** Single Post ***/

article.post {
  @include container(620px, 35px, 50px, 20px);
}

article .post-featureImage {
  width: 100%;
  height: auto;
}

.entry-header {
  padding-top: 25px;
  padding-bottom: 40px;
}

.entry-title {
  padding-bottom: 30px;
  font-family: $lato-bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.entry-meta,
.entry-footer {
  font-family: $lato-bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 14px;
}

.posted-on {
  padding-top: 14px;
  padding-bottom: 12px;
  margin-bottom: 42px;
  border-top: 1px solid $divider-color;
  border-bottom: 1px solid $divider-color;
  line-height: 24px;

  @media #{$default-break} {
    border: none;
    padding-top: 0;
    margin-bottom: 14px;
  }
}

.entry-content {
  line-height: 30px;
}

.entry-content p {
  padding-bottom: 35px;
}

.entry-header .cat-list {
  float: right;
}

.entry-meta .cat-list {
  @media #{$default-break} {
    display: none;
  }
}

.share {
  float: right;

  @media #{$default-break} {
    float: none;
    margin-top: 14px;
    padding-top: 14px;
    padding-bottom: 12px;
    border-top: 1px solid $divider-color;
    border-bottom: 1px solid $divider-color;
  }
}

.share-list {
  float: right;
  margin-left: 15px;
}

.share-list li:not(:first-child) {
  margin-left: 10px;

  @media #{$default-break} {
    margin-left: 60px;
  }
}

.share-list li {
  float: left;
}

.share-icon {
  display: block;
  width: 30px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.share-icon.share-icon-facebook {
  background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/facebook.svg");
}

.share-icon.share-icon-twitter {
  background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/twitter.svg");
}

.share-icon.share-icon-linkedin {
  background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/linkedin.svg");
}

.footer-byline {
  padding-top: 14px;
  padding-bottom: 12px;
  margin-bottom: 30px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  line-height: 24px;

  @media #{$default-break} {
    border: none;
    padding-top: 0;
    margin-bottom: 14px;
  }
}

.entry-footer .cat-list {
  float: left;
}

.blog-return {
  display: inline-block;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-family: $lato-bold;
  color: $base-text-color;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 24px;
}

.blog-return:before {
  float: left;
  content: '';
  background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/blog_return.svg");
  @include background-image;
  width: 28px;
  height: 24px;
  margin-right: 12px;
}

.relatedPosts {
  background-color: $light-grey;
}

.relatedPosts-container {
  @include container(1020px, 85px, 85px, 20px);

  @media only screen and (max-width: 1080px) {
    @include container(100%, 60px, 60px, 20px);
  }
}

.relatedPosts-intro {
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 45px;

  @media only screen and (max-width: 1080px) {
    padding-bottom: 35px;
  }
}

.relatedPosts-strip {
  @include display(flex);
  @include justify-content(center);

  @media only screen and (max-width: 1080px) {
    @include flex-direction(column);
    padding-bottom: 0;
  }
}

.relatedPosts-strip .postThumb {
  margin: 0 auto;
  @include flex(1);
  padding-bottom: 0;

  @media only screen and (max-width: 1080px) {
    max-width: 300px;
    padding-bottom: 60px;
    padding-right: 0;
  }
}

.relatedPosts-strip .postThumb:last-child {
  padding-right: 0;

  @media only screen and (max-width: 1080px) {
    padding-bottom: 0;
  }
}

.postBookend-container {
  @include container(100%, 65px, 65px, 20px);

  @media only screen and (max-width: 1080px) {
    @include container(100%, 60px, 60px, 20px);
  }
}