/*** Sub Nav ***/

.secondary-menu {
  display: flex;
  height: 60px;
  width: 100%;

  @media #{$default-break} {
    display: none;
  }
}

ul#secondary-menu {
  display: flex;
  height: 60px;
  width: 100%;
  z-index: 499;
  position: fixed;
  background: $white;
  box-shadow: $header-box-shadow;

  li {
    display: table;
    height: 100%;
    text-align: center;

    &:not(:first-child) a:hover {
      color: $bright-blue;
    }

    a {
      display: table-cell;
      vertical-align: middle;
      padding: 8px 44px 0;
      height: 100%;
      width: 100%;
      padding-top: 8px;
      line-height: 1;
      color: $base-text-color;
      font-size: 12px;
      letter-spacing: 0.025rem;
      text-transform: uppercase;
      transition: $default-transition;
    }
  }
}

.secondary-menu .external-menu-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  a {
    display: inline-block;
    line-height: 60px;
    padding-top: 0;

    &:after {
      display: inline-block;
      vertical-align: middle;
      content: '';
      background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGNsYXNzPSJjaXJjbGVkQXJyb3ciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSI2MjAgMzgwIDQwIDQwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDYyMCAzODAgNDAgNDAiIHhtbDpzcGFjZT0icHJlc2VydmUiIGZpbGw9IiMyNjI2MjYiPg0KICA8cGF0aCBkPSJNNjQwLDM4MGMtMTEsMC0yMCw5LTIwLDIwczksMjAsMjAsMjBzMjAtOSwyMC0yMFM2NTEsMzgwLDY0MCwzODB6IE02NDAsNDE3LjRjLTkuNiwwLTE3LjQtNy44LTE3LjQtMTcuNCBzNy44LTE3LjQsMTcuNC0xNy40czE3LjQsNy44LDE3LjQsMTcuNGwwLDBDNjU3LjQsNDA5LjYsNjQ5LjYsNDE3LjQsNjQwLDQxNy40eiI+PC9wYXRoPg0KICA8cGF0aCBkPSJNNjQzLjcsMzk4LjhsLTUtNWMtMC42LTAuNy0xLjctMC43LTIuNCwwYzAsMCwwLDAsMCwwbDAsMGMtMC43LDAuNi0wLjcsMS43LDAsMi40YzAsMCwwLDAsMCwwbDMuOCwzLjggbC0zLjgsMy44Yy0wLjcsMC42LTAuNywxLjcsMCwyLjRjMCwwLDAsMCwwLDBsMCwwYzAuNiwwLjcsMS43LDAuNywyLjQsMGMwLDAsMCwwLDAsMGw1LTVDNjQ0LjMsNDAwLjUsNjQ0LjMsMzk5LjUsNjQzLjcsMzk4Ljh6Ij48L3BhdGg+DQo8L3N2Zz4=");
      width: 24px;
      height: 24px;
      margin-left: 20px;
      margin-top: 0;
      margin-bottom: 2px;
      transition: $default-transition;
    }

    &:hover:after {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGNsYXNzPSJjaXJjbGVkQXJyb3ciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSI2MjAgMzgwIDQwIDQwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDYyMCAzODAgNDAgNDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KICA8cGF0aCBmaWxsPSIjMDJBQUYzIiBkPSJNNjQwLDM4MGMtMTEsMC0yMCw5LTIwLDIwczksMjAsMjAsMjBzMjAtOSwyMC0yMFM2NTEsMzgwLDY0MCwzODB6IE02NDAsNDE3LjRjLTkuNiwwLTE3LjQtNy44LTE3LjQtMTcuNCBzNy44LTE3LjQsMTcuNC0xNy40czE3LjQsNy44LDE3LjQsMTcuNGwwLDBDNjU3LjQsNDA5LjYsNjQ5LjYsNDE3LjQsNjQwLDQxNy40eiI+PC9wYXRoPg0KICA8cGF0aCBmaWxsPSIjMDJBQUYzIiBkPSJNNjQzLjcsMzk4LjhsLTUtNWMtMC42LTAuNy0xLjctMC43LTIuNCwwYzAsMCwwLDAsMCwwbDAsMGMtMC43LDAuNi0wLjcsMS43LDAsMi40YzAsMCwwLDAsMCwwbDMuOCwzLjggbC0zLjgsMy44Yy0wLjcsMC42LTAuNywxLjcsMCwyLjRjMCwwLDAsMCwwLDBsMCwwYzAuNiwwLjcsMS43LDAuNywyLjQsMGMwLDAsMCwwLDAsMGw1LTVDNjQ0LjMsNDAwLjUsNjQ0LjMsMzk5LjUsNjQzLjcsMzk4Ljh6Ij48L3BhdGg+DQo8L3N2Zz4=");
    }
  }
}

.secondary-menu li:first-of-type {
  background: $light-grey;
  font-weight: $font-bold;

  a {
    max-width: 130px;
  }
}

.secondary-menu a:after {
  display: block;
  margin: 4px auto 0;
  content: '';
  width: 100%;
  height: 2px;
  background: transparent;
}

.secondary-menu .current-menu-item a:after {
  background: $bright-blue;
}

.secondary-menu li:first-of-type a:after {
  background: transparent;
}