.tabbedPageMenu {
  @include container(100%, 50px, 20px, 20px);
  width: 100%;
  overflow: hidden;

  @media #{$default-break} {
    padding-top: 25px;
    padding-bottom: 0;
  }
}

.tabbedPageMenu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
}

.tabbedPageMenu-list li {
  text-align: center;
  margin-bottom: 20px;
}

.tabbedPageMenu-list li a {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: $base-text-color;
  text-transform: uppercase;
  font-family: $lato-bold;
  letter-spacing: 0.1em;
  line-height: 17px;
  font-size: 14px;
  margin-top: 8px;
  margin-left: 30px;
  margin-right: 30px;
}

.tabbedPageMenu-list li a:after {
  display: block;
  margin: 5px auto 0 auto;
  content: '';
  width: 76px;
  height: 3px;
  background: transparent;
}

.tabbedPageMenu-list li a:hover:after,
.tabbedPageMenu-list li.tabbedPage-active a:after {
  transition: background 0.2s ease;
  background: $bright-blue;
}

.tabbedPage {
  outline: none;
}

.tabbedPageMenu-list li:not(:last-child):after {
  display: inline-block;
  vertical-align: middle;
  content: '';
  background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/divider_slash.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 55px;
  width: 27px;

  @media #{$default-break} {
    display: none;
  }
}