/*** Tabbed Page ***/

.tabbedPageMenu {
  @include container(100%, 30px, 0);
  width: 100%;
  overflow: hidden;
  z-index: 2; //temporary fix for deep link hash + fixed header

  @media #{$default-break} {
    padding-top: 20px;
  }
}

.tabbedPageMenu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;

  @media #{$default-break} {
    display: block;
  }
}

.tabbedPageMenu-list li {
  text-align: center;
  margin-bottom: 20px;

  @media #{$default-break} {
    float: left;
    width: 33.3333333333%;
  }

  @media only screen and (max-width: 560px) {
    width: 50%;
  }
}

.tabbedPageMenu-list li a {
  display: inline-block;
  vertical-align: middle;
  max-width: 150px;
  cursor: pointer;
  color: $base-text-color;
  text-transform: uppercase;
  font-weight: $font-bold;
  letter-spacing: 0.1em;
  line-height: 17px;
  font-size: 12px;
  margin-top: 8px;
  margin-left: 30px;
  margin-right: 30px;
  overflow: hidden;
  transition: $default-transition;

  @media only screen and (max-width: 375px) {
    font-size: 10px;
    @include overflow-text-no-wrap;
  }
}

.tabbedPageMenu-list li a:after {
  display: block;
  margin: 5px auto 0 auto;
  content: '';
  width: 100%;
  height: 2px;
  background: transparent;
}

.tabbedPageMenu-list li.tabbedPage-active a:after {
  transition: background 0.2s ease;
  background: $bright-blue;
}

.tabbedPageMenu-list li a:hover {
  color: $bright-blue;
}

.tabbedPage {
  outline: none;
}

.tabbedPageMenu-list li:not(:last-child):after {
  display: inline-block;
  vertical-align: middle;
  content: '';
  height: 55px;
  width: 1px;
  background-color: $slash-color;
  transform: rotate(22deg);

  @media #{$default-break} {
    display: none;
  }
}

.tabbedPageMenu-list.tabs5 {

  @media only screen and (max-width: 1080px) {
    display: block;
  }

  li {
    @media only screen and (max-width: 1080px) {
      float: left;
      width: 33.3333333333%;
    }
    @media only screen and (max-width: 560px) {
      width: 50%;
    }

  }

  li:not(:last-child):after {
    @media only screen and (max-width: 1080px) {
      display: none;
    }
  }

  li a {
    @media only screen and (max-width: 1080px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.tabbedPageMenu-list.tabs6 {

  @media only screen and (max-width: 1290px) {
    display: block;
  }

  li {
    @media only screen and (max-width: 1290px) {
      float: left;
      width: 33.3333333333%;
    }
    @media only screen and (max-width: 560px) {
      width: 50%;
    }
  }

  li:not(:last-child):after {
    @media only screen and (max-width: 1290px) {
      display: none;
    }
  }

  li a {
    @media only screen and (max-width: 1290px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.tabbedPageMenu-list.tabs7 {

  @media only screen and (max-width: 1500px) {
    display: block;
  }

  li {
    @media only screen and (max-width: 1500px) {
      float: left;
      width: 33.3333333333%;
    }
    @media only screen and (max-width: 560px) {
      width: 50%;
    }
  }

  li:not(:last-child):after {
    @media only screen and (max-width: 1500px) {
      display: none;
    }
  }

  li a {
    @media only screen and (max-width: 1500px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}