/*** Vortal ***/


/*** Copied from dls.css ***/

.numeral {
  font-weight: 900;
  letter-spacing: 0.025rem; }

.numeral.isAlert {
  color: #F65F5F; }

.numeral.small {
  font-size: 1.75rem; }

.numeral.medium {
  font-size: 2.25rem; }

.numeral.large {
  font-size: 2.625rem; }

.numeral .affix {
  font-size: 0.5em;
  position: relative;
  top: -0.69em; }

.linkNumeral .numeral {
  color: #02AAF3;
  text-decoration: none; }
  .linkNumeral .numeral:hover, .linkNumeral .numeral:focus {
    color: #0288C2; }

.marketing .numeral.small {
  font-size: 2.25rem; }

.marketing .numeral.medium {
  font-size: 2.625rem; }

.marketing .numeral.large {
  font-size: 4.5rem; }
  .marketing h1 {
    font-size: 3rem; }

  .marketing h2 {
    font-size: 2.25rem;
    line-height: 1.875rem; }

  .marketing h3 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem; }

  .marketing h4 {
    font-size: 1.125rem;
    letter-spacing: 0.025rem; }

  .marketing h5 {
    font-size: 0.6875rem;
    letter-spacing: 0.1rem; }

  .marketing h6 {
    font-family: "LatoWeb";
    font-size: 1.5rem;
    letter-spacing: 0.1rem; }

  .marketing p {
    letter-spacing: 0.01rem;
    line-height: 1.875rem; }






/*** Custom Vortal Styles ***/
.vortalMenu {
  @include container(100%, 18px, 18px);
  width: 100%;
  overflow: hidden;

  @media only screen and (max-width: 1200px) {
    padding-top: 35px;
  }
}

.vortalMenu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;

  @media only screen and (max-width: 1200px) {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.vortalMenu-list li {
  text-align: center;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 1200px) {
    display: block;
    float: left;
    width: 33.3333333333%;
    margin-bottom: 25px;
  }

  @media only screen and (max-width: 480px) {
    width: 50%;
  }

  @media only screen and (max-width: 375px) {
    width: 100%;
  }
}

.vortalMenu-list li:first-of-type {
  @media only screen and (max-width: 1200px) {
    width: 100%;
  }
}

.vortalMenu-list li a {
  display: block;
  text-transform: uppercase;
  font-weight: $font-bold;
  letter-spacing: 0.1em;
  font-size: 14px;
  margin-left: 23px;
  margin-right: 23px;
}

.vortalMenu-list li a,
.vortalMenu-list-title {
  max-width: 150px;

  @media only screen and (max-width: 1200px) {
    max-width: 100%;
  }
}

.vortalMenu-list-title {
  text-transform: uppercase;
  font-weight: $font-bold;
  letter-spacing: 0.1em;
  font-size: 14px;
}

.vortalMenu-list li:not(:first-child):not(:last-child):after {
  display: block;
  content: '';
  height: 30px;
  width: 1px;
  background-color: $slash-color;
  transform: rotate(22deg);

  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

.recentlyShipped {
  background-color: $light-grey;
}

.recentlyShipped-container {
  @include container(1135px, 37px, 45px);
}

.recentlyShipped-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  @media only screen and (max-width: 1200px) and (min-width: 480px) {
    display: block;
  }
}

.recentlyShipped-item {
  position: relative;
  max-width: 227px;
  background-color: $white;

  @media only screen and (max-width: 1200px) and (min-width: 480px) {
    min-width: 227px;
    max-width: 100%;
    display: flex;
    align-content: center;
    align-items: flex-start;
  }

  @media only screen and (max-width: 480px) {
    margin-bottom: 20px;
  }
}

.recentlyShipped-item-image {
  min-width: 227px;
  height: 151px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.recentlyShipped-item-inner {
  position: relative;
  padding: 20px;
  width: 100%;
  overflow: hidden;

  @media only screen and (max-width: 1200px) and (min-width: 480px) {
    padding: 12px;
    min-height: 151px;
    border-bottom: 1px solid #f3f3f3;
  }

  @media only screen and (max-width: 480px) {
    padding-bottom: 10px;
  }
}

.recentlyShipped-item-inner:after {
  position: absolute;
  top: 20px;
  right: 0;
  display: block;
  content: '';
  height: 80px;
  width: 1px;
  margin: 0 auto;
  background: #f3f3f3;

  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

.recentlyShipped-item-title {
  font-weight: $font-bold;
  padding-bottom: 20px;
  width: 100%;

  @media only screen and (max-width: 1200px) and (min-width: 480px) {
    padding-bottom: 10px;
  }

  @media only screen and (min-width: 480px) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.recentlyShipped-item-location {
  position: relative;
}

.recentlyShipped-item-location-name {
  font-weight: $font-bold;
  padding-bottom: 10px;
  width: calc(100% - 11px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.recentlyShipped-item-location-name:after {
  display: block;
  content: '';
  width: 9px;
  height: 12px;
  position: absolute;
  right: 0;
  top: 2px;
  bottom: 0;
  background: url('#{$asset-path}/vortal/icon_location.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.recentlyShipped-item-location-name.location-origin:after {
  opacity: 0.5;
}

.recentlyShipped-item-price {
  display: block;
  text-align: center;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  @media only screen and (max-width: 1200px) and (min-width: 480px) {
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 90%;
    text-align: right;
  }
}

.recentlyShipped-item-price:before {
  display: block;
  content: '';
  height: 1px;
  width: 185px;
  margin: 8px auto 16px;
  background: #f3f3f3;

  @media only screen and (max-width: 1200px) and (min-width: 480px) {
    display: none;
  }

  @media only screen and (max-width: 480px) {
    display: block;
    width: 100%;
  }
}

.recentlyShipped-intro {
  text-transform: uppercase;
  font-weight: $font-bold;
  padding-bottom: 25px;

  @media only screen and (max-width: 480px) {
    text-align: center;
  }
}

.productFeatures {
  background-color: $navy;
}

.productFeatures-container {
  @include container(1150px, 10px, 10px);
  width: 100%;
  min-height: 166px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  @media only screen and (max-width: 769px) {
    min-height: 100%;
    padding-top: 55px;
  }
}

.productFeatures-item {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 769px) {
    width: 50%;
    flex-direction: column;
    text-align: center;
    margin-bottom: 45px;
  }
}

.productFeatures-item-icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;

  @media only screen and (max-width: 769px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.productFeatures-item-icon path {
  fill: $white;
}

.productFeatures-item-text {
  color: $white;
  text-transform: uppercase;
  font-weight: $font-bold;
}