/*** Bios ***/

.bios-container {
  @include container(1060px, 85px, 85px);
  overflow: hidden;
  width: 100%;

  @media #{$default-break} {
    @include container(100%, 60px, 60px);
  }
}

.bios-intro {
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.bios-subintro {
  padding-bottom: 45px;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  line-height: 30px;
}

.bios-group {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-right: -20px;
}

.bios-block {
  display: block;
  width: 270px;
  text-align: center;
  color: $base-text-color;
  padding-right: 20px;
  padding-bottom: 40px;

  @media #{$default-break} {
    padding-bottom: 20px;
  }
}

.bios-image {
  display: block;
  margin: 0 auto;
  width: 192px;
  height: 192px;
}

.bios-name {
  padding-top: 22px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: $font-bold;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.bios-description {
  padding-bottom: 27px;
  text-align: center;
  font-size: 16px;
}