/*** Bios ***/

.bios-container {
  @include container(820px, 85px, 85px, 20px);

  @media #{$default-break} {
    @include container(100%, 60px, 60px, 20px);
  }
}

.bios-intro {
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.bios-subintro {
  padding-bottom: 45px;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  line-height: 30px;
}

.bios-row {
  display: flex;
  justify-content: center;

  @media #{$default-break} {
    flex-direction: column;
  }
}

.bios-block {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;

  &:not(:last-child) {
    margin-right: 70px;

    @media #{$default-break} {
      margin-right: 0;
      padding-bottom: 60px;
    }
  }
}

.bios-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.bios-name {
  padding-top: 22px;
  padding-bottom: 10px;
  text-align: center;
  font-family: $lato-bold;
  text-transform: uppercase;
  font-size: 14px;
}

.bios-description {
  padding-bottom: 27px;
  text-align: center;
  font-size: 14px;
}