/*** Bookend ***/

.bookend {
  border-top: 1px solid $divider-color;
}

.bookend-container {
  @include container(1140px, 60px, 60px);
  position: relative;
  text-align: center;
}

.bookend-intro {
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;

  @media #{$default-break} {
    padding-top: 144px;
  }
}

.bookend-link-text {
  text-transform: uppercase;
  font-weight: $font-bold;
  color: $base-text-color;
  font-size: 14px;
  letter-spacing: 0.1em;

  @media #{$default-break} {
    line-height: 17px;
  }
}

.bookend-link:hover .bookend-link-text {
  color: $bright-blue;
  transition: all 0.1s ease-in-out;
}

.bookend-link:hover .circledArrow {
  fill: $bright-blue;
  transition: all 0.1s ease-in-out;
}

.bookend-linkPrevious {
  left: 20px;
}

.bookend-linkNext {
  right: 20px;
}

.bookend-divider {
  display: none;

  @media #{$default-break} {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 144px;
    left: 0;
    right: 0;
    background: $divider-color;
  }
}

.bookend-linkRow {
  position: absolute;
  top: 50%;
  min-height: 45px;
  display: flex;
  align-items: center;

  @media #{$default-break} {
    top: 60px;
  }
}

.bookend-linkRow .bookend-link-text {
  padding-top: 3px;
}

.bookend-linkRow .circledArrow {
  width: 24px;
  height: 24px;
}

.bookend-linkPrevious .circledArrow {
  margin-right: 20px;
  transform: rotate(180deg);

  @media #{$default-break} {
    margin-right: 10px;
  }
}

.bookend-linkNext .circledArrow {
  margin-left: 20px;

  @media #{$default-break} {
    margin-left: 10px;
  }
}

.bookend-linkPrevious .bookend-link-text {
  text-align: left;
}

.bookend-linkNext .bookend-link-text {
  text-align: right;
}