/*** Bookend ***/

.bookend {
  border-bottom: 1px solid $divider-color;
}

.bookend-container {
  @include outer-container(1180px);
  @include section-padding(60px);
  position: relative;
}

.bookend-intro {
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;

  @media #{$default-break} {
    padding-top: 144px;
  }
}

.bookend-nav {
  display: block;
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  font-weight: $bold;
  color: $base-text-color;

  @media #{$default-break} {
    top: 60px;
  }
}

.bookend-navPrevious {
  left: $section-padding;
}

.bookend-navPrevious:before {
  float: left;
  content: "";
  background: url("#{$asset-path}/previous.png") center center no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.bookend-navNext {
  right: $section-padding;
}

.bookend-navNext:after {
  float: right;
  content: "";
  background: url("#{$asset-path}/next.png") center center no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 20px;
}

.bookend-divider {
  display: none;

  @media #{$default-break} {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 144px;
    left: 0;
    right: 0;
    background: $divider-color;
  }
}