.careersListings {

  #resumator-logo {
    display: none;
  }

  #resumator-wrapper {
    @include container(780px, 70px, 115px, 20px);
  }

  .resumator-job {
    padding: 27px 0;
    border-top: 1px solid $divider-color;
  }

  .resumator-job-title {
    font-family: $lato-bold;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-bottom: 10px;
  }

  .resumator-job-info {
    // float: left;
  }

  .resumator-job-heading {
    font-family: $lato-bold;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .resumator-jobs-text {
    line-height: 30px;
  }

  .resumator-job-info-details.resumator-jobs-text {
    line-height: 24px;
  }

  .resumator-job-heading.resumator-jobs-text {
    margin-right: 5px;
    line-height: 25px;
  }

  .resumator-job-department,
  .resumator-job-info-details .resumator-job-heading {
    margin-left: 45px;
  }

  p {
    line-height: 30px;
  }

  strong {
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .resumator-view-details {
    float: right;
    line-height: 26px;
    font-family: $lato-bold;
    font-size: 17px;
    cursor: pointer;
  }

  .resumator-view-details:before {
    margin-left: 10px;
    float: right;
    content: '';
    background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/accordian_arrow.svg");
    @include background-image;
    width: 24px;
    height: 24px;
  }

  .resumator-job-description {
    display: none;
  }
}