.careersListings {

  #resumator-logo {
    display: none;
  }

  #resumator-wrapper {
    @include container(780px, 70px, 115px, 20px);

    @media #{$default-break} {
      padding-top: 40px;
    }
  }

  .resumator-job {
    position: relative;
    padding: 27px 0;
    border-top: 1px solid $divider-color;

    @media #{$default-break} {
      padding-bottom: 40px;
    }
  }

  .resumator-job-title {
    font-family: $lato-bold;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-bottom: 10px;

    @media #{$default-break} {
      padding-bottom: 50px;
    }
  }

  .resumator-job-info {
    // float: left;
  }

  .resumator-job-info,
  .resumator-job-info-details {
    display: inline;

    @media #{$default-break} {
      display: none;
    }
  }

  .resumator-job-heading {
    font-family: $lato-bold;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .resumator-jobs-text {
    line-height: 24px;
  }

  .resumator-job-info-details.resumator-jobs-text {
    line-height: 24px;
  }

  .resumator-job-heading.resumator-jobs-text {
    margin-right: 3px;
    line-height: 25px;
  }

  .resumator-job-department,
  .resumator-job-info-details .resumator-job-heading {
    margin-left: 45px;
  }

  p, li {
    line-height: 30px;
  }

  strong {
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .resumator-view-details {
    position: absolute;
    top: 27px;
    right: 0;
    line-height: 26px;
    font-family: $lato-bold;
    font-size: 17px;
    cursor: pointer;
    text-transform: none;

    @media #{$default-break} {
      top: 90px;
    }
  }

  .resumator-view-details:before {
    margin-left: 10px;
    float: right;
    content: '';
    background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/accordian_arrow.svg");
    @include background-image;
    width: 28px;
    height: 24px;
  }

  .resumator-view-details.arrow-closed:before {
    transform: rotateX(180deg);
  }

  .resumator-job-description {
    display: none;
    padding-top: 30px;
  }

  .resumator-apply-button {
    display: block;
    margin: 0 10px 0 auto;
    width: 100%;
    border: none;
    letter-spacing: 0.01em;
    text-align: center;
    background-color: $primary-green;
    border-radius: 3px;
    color: $white;
    font-family: $lato-bold;
    padding: 0 10px;
    width: 154px;
    height: 43px;

    @media #{$default-break} {
      margin: 0 auto 20px auto;
    }
  }

  .resumator-forward-button {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: none;
    letter-spacing: 0.01em;
    text-align: center;
    border: 3px solid $primary-green;
    border-radius: 3px;
    color: $primary-green;
    font-family: $lato-bold;
    padding: 0 10px;
    width: 154px;
    height: 43px;
    background: transparent;

    @media #{$default-break} {
      margin: 0 auto 20px auto;
    }
  }

  .resumator-buttons li a img {
    display: none;
  }

  .resumator-buttons li a {
    display: block;
    width: 30px;
    height: 24px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .resumator-buttons li:nth-of-type(1),
  .resumator-buttons li:nth-of-type(2) {
    @media #{$default-break} {
      width: 100%;
    }
  }

  .resumator-buttons li:nth-of-type(3),
  .resumator-buttons li:nth-of-type(4),
  .resumator-buttons li:nth-of-type(5) {
    float: right !important;
    margin-top: 9px !important;

    @media #{$default-break} {
      width: 100%;
      margin-top: 15px !important;
      margin-right: auto !important;
    }
  }

  .resumator-buttons li:nth-of-type(3) a {
    background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/twitter.svg");
  }

  .resumator-buttons li:nth-of-type(4) a {
    background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/facebook.svg");
  }

  .resumator-buttons li:nth-of-type(5) a {
    background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/linkedin.svg");
  }
}