/*** Contact ***/

.contact-container {
  @include outer-container(1070px);
  @include section-padding(85px);
  @include display(flex);
  @include justify-content(center);

  @media #{$default-break} {
    @include section-padding(40px);
    @include flex-direction(column);
  }
}

.contact-container > * {
  @include flex(1);

  &:not(:last-child) {
    margin-right: 70px;

    @media #{$default-break} {
      margin-right: 0;
      padding-bottom: 40px;
    }
  }
}

.contact-info-intro {
  padding-bottom: 18px;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 24px;
  border-bottom: 1px solid $divider-color;
}

.contact-links-content {
  float: right;

  @media #{$default-break} {
    float: none;
  }
}

.contact-links-content-link {
  margin-bottom: 35px;
}