/*** Contact ***/

.contact-container {
  @include outer-container(1070px);
  @include section-padding(85px);
}

.contact-info,
.contact-links {
  @include span-columns(6);
}

.contact-info-intro {
  padding-bottom: 18px;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 24px;
  border-bottom: 2px solid #e6e6e6;
}

.contact-links-content {
  float: right;
}

.contact-links-content-link {
  margin-bottom: 35px;
}