/*** Hero ***/

.hero {
  position: relative;
  @include background-image;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 2; // this is to get around the fixed nav anchor fix problem where the bottom CTA is not clickable
}

.hero.heroSmall {
  min-height: 275px;

  @media #{$default-break} {
    min-height: 215px;
  }
}

.hero.heroMedium {
  min-height: 350px;

  @media #{$default-break} {
    min-height: 215px;
  }
}

.hero.heroLarge {
  min-height: 520px;

  @media #{$default-break} {
    min-height: 325px;
  }
}

.hero-container {
  @include container(1020px, 20px, 20px);
  width: 100%; //added for IE11
}

.hero-headline {
  text-align: center;
  color: $white;
  line-height: 1.35em;
  text-shadow: $base-text-shadow;
  font-size: 36px;

  @media #{$default-break} {
    font-size: 28px;
  }
}

.heroMedium .hero-headline {
  padding-bottom: 40px;

  @media #{$default-break} {
    padding-bottom: 20px;
  }
}

.heroLarge .hero-headline {
  font-size: 48px;
  padding-bottom: 25px;

  @media #{$default-break} {
    font-size: 28px;
    padding-bottom: 20px;
  }
}

.heroLarge .hero-subheadline {
  padding-bottom: 40px;

  @media #{$default-break} {
    padding-bottom: 20px;
  }
}

.hero-subheadline {
  margin: 0 auto;
  text-align: center;
  color: $white;
  font-size: 18px;
  text-shadow: $base-text-shadow;
}

.hero-cta-secondary {
  padding-top: 85px;

  @media #{$default-break} {
    padding-top: 50px;
  }
}

.hero .tertiaryCallout-title {
  color: $white;
  text-shadow: $base-text-shadow;
}

.hero .tertiaryCallout-container {
  padding-top: 80px;
  padding-bottom: 0;
}

.cobrandedStrip {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-grey;
  width: 100%;
  padding: 25px $section-padding;
  margin-bottom: 30px;

  @media #{$default-break} {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}

.cobrandedStrip-logo {
  margin: 0 10px;
}

.cobrandedStrip-logo-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;

  // @media #{$default-break} {
  //   max-width: 60%;
  // }
}

.cobrandedStrip-container {
  display: flex;
  align-items: center;

  &:nth-of-type(2n) {
    margin-left: 45px;
  }
}

.hero.cobrandedPush {
  justify-content: flex-start;
}

.cobrandedStrip-caption {
  font-size: 14px;
  color: $medium-gray;

  @media #{$default-break} {
    font-size: 10px;
  }
}