/*** Hero ***/

.hero {
  @include background-image;
}

.hero-container {
  @include container(780px, 0, 0, 20px);
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include align-content(center);
  @include flex-flow(row wrap);
}

.hero-container > * {
  @include flex(1 100%);
}

.heroSmall .hero-container {
  min-height: 275px;

  @media #{$default-break} {
    min-height: 215px;
  }
}

.heroLarge .hero-container {
  min-height: 350px;

  @media #{$default-break} {
    min-height: 215px;
  }
}

.hero-headline {
  text-align: center;
  color: $white;
  line-height: 1.35em;
  text-shadow: 0 4px 5.88px rgba(0, 0, 0, 0.72);
  font-size: 36px;

  @media #{$default-break} {
    font-size: 30px;
  }
}

.heroLarge .hero-headline {
  padding-bottom: 40px;

  @media #{$default-break} {
    padding-bottom: 20px;
  }
}