/*** Hero ***/

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-container {
  @include outer-container(820px);
  @include section-padding(0);
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include align-content(center);
  @include flex-flow(row wrap);
}

.hero-container > * {
  @include flex(1);
  @include flex-basis(100%);
}

.heroSmall .hero-container {
  min-height: 275px;

  @media #{$default-break} {
    min-height: 215px;
  }
}

.heroLarge .hero-container {
  min-height: 350px;

  @media #{$default-break} {
    min-height: 215px;
  }
}

.hero-headline {
  text-align: center;
  color: $white;
  line-height: 1.35em;
  text-shadow: 0 4px 5.88px rgba(0, 0, 0, 0.72);

  @media #{$default-break} {
    font-size: 1.75em;
  }
}

.heroLarge .hero-headline {
  padding-bottom: 65px;

  @media #{$default-break} {
    padding-bottom: 20px;
  }
}