.iconBulletPoints {
  background-color: $light-grey;
}

.iconBulletPoints-container {
  @include container(780px, 85px, 85px, 20px);
  width: 100%;
  height: 100%;

  @media #{$default-break} {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.iconBulletPoints-row {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.iconBulletPoints-row:not(:last-child) {
  margin-bottom: 30px;

  @media #{$default-break} {
    margin-bottom: 40px;
  }
}

.iconBulletPoints-icon {
  flex: 1;
  margin-left: 90px;
  margin-right: 44px;
  position: relative;

  @media #{$default-break} {
    margin-left: 0;
  }
}

.iconBulletPoints-icon svg {
  position: absolute;
  top: 39px;
  width: 65px;
  height: 50px;

  @media #{$default-break} {
    width: 55px;
    height: 40px;
  }
}

.iconBulletPoints-text {
  flex: 8;
}

.iconBulletPoints-text-title {
  font-family: $lato-bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}