.introSlide-container {
  @include container(780px, 40px, 0, 20px);
  width: 100%;
  height: 100%;

  @media #{$default-break} {
    padding-top: 20px;
  }
}

.introSlide-headline {
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.introSlide-text p {
  text-align: center;
  line-height: 30px;
}

.introSlide-slideshow {
  position: relative;
  margin-top: 50%;
}

.introSlide-slideshow-slide {
  display: none;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.introSlide-slideshow-slide-image {
  display: block;
  width: 100%;
  height: auto;
}