/*** Long Form Content ***/

.longFormContent-container {
  @include container(620px, 65px, 20px);

  @media #{$default-break} {
    @include container(100%, 50px, 20px);
  }
}

.longFormContent-text {
  line-height: 30px;
}

.longFormContent div:not(:last-child):after {
  display: block;
  content: '';
  background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/paragraph_slash.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 27px;
  margin-top: 30px;
  margin-bottom: 30px;

  @media #{$default-break} {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}