/*** Long Form Content ***/

.longFormContent-container {
  @include container(620px);
  @include section-padding(75px);

  @media #{$default-break} {
    @include section-padding(60px);
  }
}

.longFormContent-text {
  line-height: 30px;
}

.longFormContent div:not(:last-child):after {
  display: block;
  content: '';
  background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/paragraph_slash.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  margin-top: 35px;
  margin-bottom: 35px;

  @media #{$default-break} {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}