/*** Press ***/

.pressStrip-container {
  @include container(1030px, 80px, 80px);
  width: 100%;

  @media #{$default-break} {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.pressStrip-column {
  float: left;
  width: 50%;

  @media #{$default-break} {
    width: 100%;
    float: none;
  }

  &:first-child {
    border-right: 1px solid $divider-color;
    padding-right: 85px;

    @media #{$default-break} {
      border-right: none;
      border-bottom: 1px solid $divider-color;
      padding-right: 0;
      padding-bottom: 50px;
      margin-bottom: 50px;
    }
  }

  &:last-child {
    padding-left: 85px;

    @media #{$default-break} {
      padding-left: 0;
    }
  }
}

.pressStrip-column-title {
  font-size: 24px;
  margin-bottom: 50px;
}

.pressStrip .post-title {
  margin-bottom: 50px;
}

.post-caption {
  font-weight: $font-bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
}

.post-time {
  color: #999999;
}