.pressStrip {
  @include container(1120px, 30px, 50px, 20px);
  width: 100%;
  display: flex;
  justify-content: center;

  @media #{$default-break} {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.pressStrip-block {
  flex: 1;

  @media #{$default-break} {
    padding-bottom: 60px;
  }
}

.pressStrip-block:not(:last-child) {
  margin-right: 70px;

  @media #{$default-break} {
    margin-right: 0;
  }
}

.post-caption {
  font-family: $lato-bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-bottom: 35px;

  @media #{$default-break} {
    padding-bottom: 25px;
  }
}

.post-time {
  color: #999999;
}