.pressStrip {
  @include container(1120px, 0, 0);
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;

  @media #{$default-break} {
    flex-direction: column;
  }
}

.pressStrip-block {
  flex: 1;
  padding-top: 30px;
  padding-bottom: 50px;
}

.pressStrip-block:not(:last-child) {
  margin-right: 50px;
  padding-right: 30px;
  border-right: 1px solid $divider-color;

  @media #{$default-break} {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
    border-bottom: 1px solid $divider-color;
  }
}

.pressStrip-block-inner {
  padding: 0 $section-padding;
}

.post-caption {
  font-weight: $font-bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-bottom: 35px;

  @media #{$default-break} {
    padding-bottom: 25px;
  }
}

.post-time {
  color: #999999;
}