/*** Slanted Map ***/

.slantedMap {
  position: relative;
  overflow: hidden;
}

.slantedMap:before {
  content: '';
  position: absolute;
  top: -250%;
  width: 100%;
  height: 500%;
}

.slantedMap.mapBackgroundRight:before {
  left: -40%;
  -webkit-transform: rotate(-325deg);
  -moz-transform: rotate(-325deg);
  transform: rotate(-325deg);

  @media #{$default-break} {
    left: -50%;
  }
}

.slantedMap.mapBackgroundLeft:before {
  right: -40%;
  -webkit-transform: rotate(325deg);
  -moz-transform: rotate(325deg);
  transform: rotate(325deg);

  @media #{$default-break} {
    right: -50%;
  }
}

.slantedMap.mapBackgroundWhite {
  background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/map_lightlines.svg");
  background-color: #ececec;
  @include background-image;
}

.slantedMap.mapBackgroundGrey {
  background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/map_darklines.svg");
  background-color: $white;
  @include background-image;
}

.slantedMap.mapBackgroundGrey:before {
  background-color: $light-grey;
}

.slantedMap.mapBackgroundWhite:before {
  background-color: $white;
}

.slantedMap-container {
  @include container(1160px);
  @include section-padding(0);
  position: relative;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  @media #{$default-break} {
    min-height: 300px;
  }
}

.slantedMap-container > * {
  @include flex(1);
}

.slantedMap-copy {
  padding: 85px 0;

  @media #{$default-break} {
    display: none !important;
  }
}

.slantedMap.mapBackgroundLeft .slantedMap-image {
  order: 1;
}

.slantedMap.mapBackgroundLeft .slantedMap-copy {
  order: 2;
  margin-left: 20px;
}

.slantedMap.mapBackgroundRight .slantedMap-image {
  order: 2;
}

.slantedMap.mapBackgroundRight .slantedMap-copy {
  order: 1;
  margin-right: 20px;
}

.slantedMap.alignmentBottom .slantedMap-image {
  align-self: flex-end;
}

.slantedMap-image-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.slantedMap.alignmentMiddle .slantedMap-image-image {
  padding: 85px 0;

  @media #{$default-break} {
    padding: 40px 0;
  }
}

.slantedMap.alignmentLeft .slantedMap-image-image {
  float: left;

  @media #{$default-break} {
    float: none;
  }
}

.slantedMap.alignmentRight .slantedMap-image-image {
  float: right;

  @media #{$default-break} {
    float: none;
  }
}

.slantedMap-copyMobile {
  display: none;

  @media #{$default-break} {
    display: block !important;
    @include section-padding(40px);
  }
}

.slantedMap-copy-intro {
  padding-bottom: 18px;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 1.2;
  border-bottom: 1px solid $divider-color;
}

.slantedMap-copy-block-text {
  padding-bottom: 20px;
  line-height: 30px;
}

.slantedMap-copy-block-text h6 {
  font-family: $lato-bold;
  text-transform: uppercase;
}

.slantedMap-copy-block-text p {
  line-height: 30px;
}