.splitScreen {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.splitScreen-row {
  width: 100%;
  height: 100%;

  @media #{$default-break} {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.splitScreen-row:first-child {
  flex: 10;
  display: flex;
}

.splitScreen-row:last-child {
  flex: 1;
  display: flex;
}

.splitScreen-panel {
  position: relative;
  float: left;
  width: 50%;
  margin: 0 auto;
  @include background-image;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  @media #{$default-break} {
    float: none;
    width: 100%;
    min-height: 275px;
  }
}

.splitScreen-panel.panelLeft {

  @media #{$default-break} {
    background-color: $navy;
    background-image: none !important;
  }

  &:before {
    @media #{$default-break} {
      display: none;
    }
  }
}

.splitScreen-panel.panelRight {

  @media #{$default-break} {
    background-color: $bright-blue;
    background-image: none !important;
  }

  &:before {
    @media #{$default-break} {
      display: none;
    }
  }
}

.splitScreen-panel-container {
  // @include container(475px, 0, 0, 60px);
  max-width: 595px;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 1;

  @media #{$default-break} {
    // @include container(100%, 0, 0, 20px);
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.splitScreen-panel-headline {
  font-size: 60px;
  text-shadow: 0 4px 5.88px rgba(0, 0, 0, 0.72);
  line-height: 72px;
  text-align: center;
  color: $white;

  @media #{$default-break} {
    font-size: 42px;
    line-height: 1.2;
    text-shadow: none;
  }
}

.splitScreen-panel-subheadline {
  font-size: 16px;
  text-shadow: 0 4px 5.88px rgba(0, 0, 0, 0.72);
  line-height: 28px;
  text-align: center;
  color: $white;

  @media #{$default-break} {
    font-size: 14px;
    text-shadow: none;
  }
}

.splitScreen-panel .circledArrow {
  display: block;
  width: 40px;
  height: 40px;
  margin: 65px auto 90px auto;

  @media #{$default-break} {
    width: 30px;
    height: 30px;
    margin: 12px auto 12px auto;
  }
}

.splitScreen-panel .circledArrow path {
  fill: $white;
}

.splitScreen-panel:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.splitScreen-panel.panelHover:before {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.splitScreen-panel.panelHover:hover:before {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.splitScreen-panel.panelHover:hover {
  * {
    transition: all 0.2s ease-in-out;
  }
}

.splitScreen-panel.panelHover:hover {
  .splitScreen-panel-headline {
    text-shadow: none;
  }

  .splitScreen-panel-subheadline {
    text-shadow: none;
  }
}

.splitScreen-panel.panelLeft.panelHover:hover {
  &:before {
    background-color: $navy;
  }

  .splitScreen-panel-headline {
    color: $bright-blue;
  }

  .circledArrow path {
    fill: $bright-blue;
  }
}

.splitScreen-panel.panelRight.panelHover:hover {
  &:before {
    background-color: $bright-blue;
  }

  .splitScreen-panel-headline {
    color: $navy;
  }

  .circledArrow path {
    fill: $navy;
  }
}

.splitScreen-strip {
  background-color: $light-grey;
}

.splitScreen-strip-container {
  // @include container(100%, 0, 0, 60px);
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 55px;

  @media #{$default-break} {
    // @include container(100%, 0, 0, 20px);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.splitScreen-strip {
  z-index: 1;
  position: relative;
  float: left;
  margin: 0 auto;
  color: $dark-grey;
  text-transform: uppercase;
  font-family: $lato-bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splitScreen-strip:first-child {
  @include calc(width, "50% + 15px");

  @media #{$default-break} {
    width: 100%;
    border-bottom: 1px solid $divider-color;
  }
}

.splitScreen-strip:last-child {
  @include calc(width, "50% - 15px");

  @media #{$default-break} {
    width: 100%;
  }
}

.splitScreen-strip-headline-container {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  @media #{$default-break} {
    margin-bottom: 0;
  }
}

.splitScreen-strip-headline {
  font-size: 24px;
  line-height: 29px;
  margin-right: 15px;

  @media #{$default-break} {
    font-size: 18px;
  }
}

.splitScreen-strip-arrow {
  display: block;
}

.splitScreen-strip-subheadline {
  font-size: 14px;
  line-height: 17px;

  @media #{$default-break} {
    display: none;
  }
}

.splitScreen-strip .circledArrow {
  width: 24px;
  height: 24px;
}

.splitScreen-strip .circledArrow path {
  fill: $dark-grey;
}

.splitScreen-strip:hover {
  background-color: $white;
  transition: all 0.2s ease-in-out;
}

.splitScreen-strip:hover .circledArrow path {
  fill: $bright-blue;
  transition: all 0.2s ease-in-out;
}

.splitScreen-strip:after {
  content:  '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $light-grey;
  transform-origin: 100% 0;
  transform: skew(-20deg);
  z-index: -1;

  @media #{$default-break} {
    display: none;
  }
}

.splitScreen-strip:first-child:after {
  border-right: 1px solid $divider-color;
}

.splitScreen-strip:hover:after {
  background: $white;
  transition: all 0.2s ease-in-out;
}