.splitScreen-row {
  @include outer-container(100%);
}

.splitScreen-panel {
  position: relative;
  float: left;
  width: 50%;
  margin: 0 auto;
  min-height: 740px;
  @include background-image;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}

.splitScreen-panel-container {
  @include container(475px, 0, 0, 60px);
  z-index: 1;
}

.splitScreen-panel-headline {
  font-size: 60px;
  text-shadow: 0 4px 5.88px rgba(0, 0, 0, 0.72);
  line-height: 72px;
  text-align: center;
  color: $white;
}

.splitScreen-panel-subheadline {
  font-size: 16px;
  text-shadow: 0 4px 5.88px rgba(0, 0, 0, 0.72);
  line-height: 28px;
  text-align: center;
  color: $white;
}

.splitScreen-panel .circledArrow {
  display: block;
  width: 40px;
  height: 40px;
  margin: 65px auto 90px auto;
}

.splitScreen-panel .circledArrow path {
  fill: $white;
}

.splitScreen-panel:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.splitScreen-panel.panelHover:before {
  opacity: 0;
  @include transition-property(all);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in-out);
}

.splitScreen-panel.panelHover:hover:before {
  opacity: 1;
  @include transition-property(all);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in-out);
}

.splitScreen-panel.panelHover:hover {
  * {
    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in-out);
  }
}

.splitScreen-panel.panelLeft.panelHover:hover {
  &:before {
    background-color: $navy;
  }

  .splitScreen-panel-headline {
    color: $bright-blue;
    text-shadow: none;
  }

  .splitScreen-panel-subheadline {
    text-shadow: none;
  }

  .circledArrow path {
    fill: $bright-blue;
  }
}

.splitScreen-panel.panelRight.panelHover:hover {
  &:before {
    background-color: $bright-blue;
  }

  .splitScreen-panel-headline {
    color: $navy;
    text-shadow: none;
  }

  .splitScreen-panel-subheadline {
    text-shadow: none;
  }

  .circledArrow path {
    fill: $navy;
  }
}

.splitScreen-strip {
  background-color: $light-grey;
}

.splitScreen-strip-container {
  @include container(100%, 0, 0, 60px);
}

.splitScreen-strip {
  z-index: 1;
  position: relative;
  float: left;
  width: 50%;
  margin: 0 auto;
  min-height: 80px;
  color: $dark-grey;
  text-transform: uppercase;
  font-family: $lato-bold;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}

.splitScreen-strip-headline {
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 5px;
}

.splitScreen-strip-subheadline {
  font-size: 14px;
  line-height: 17px;
}

.splitScreen-strip .circledArrow {
  width: 24px;
  height: 24px;
}

.splitScreen-strip span {
  display: inline-block;
  vertical-align: middle;
}

.splitScreen-strip .circledArrow path {
  fill: $dark-grey;
}

.splitScreen-strip:hover {
  background-color: $white;
  @include transition-property(all);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in-out);
}

.splitScreen-strip:hover .circledArrow path {
  fill: $bright-blue;
  @include transition-property(all);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in-out);
}

.splitScreen-strip:first-child:after {
  content:  '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $light-grey;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-45deg);
  z-index: -1;
}

.splitScreen-strip:first-child:hover {
  background-color: $light-grey;
}

.splitScreen-strip:first-child:hover:after {
  background: $white;
}

.splitScreen-strip:nth-child(2):hover ~ a {
  background-color: $white;
}