/*** Strip Data Callout ***/

.stripDataCallout {
  background-color: $navy;
}

.stripDataCallout-container {
  @include container(980px);
  @include section-padding(65px);
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-between);

  @media #{$default-break} {
    @include flex-direction(column);
  }
}

.stripDataCallout-block {
  color: $white;

  &:not(:last-child) {
    margin-right: 50px;

    @media #{$default-break} {
      margin-right: 0;
      padding-bottom: 65px;
    }
  }
}

.stripDataCallout-block-inner {
  @include display(flex);
  @include align-items(center);
  @include justify-content(flex-start);
  max-width: 300px;
}

.stripDataCallout-block-value {
  padding-right: 10px;
  font-size: 36px;
  line-height: 100%;
  font-family: $lato-black;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.stripDataCallout-block-caption {
  font-size: 11px;
  font-family: $lato-bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}