/*** Strip Data Callout ***/

.stripDataCallout {
  background-color: $navy;
}

.stripDataCallout-container {
  @include outer-container(1020px);
  @include section-padding(69px);
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-between);

  @media #{$default-break} {
    @include flex-direction(column);
  }
}

.stripDataCallout-block {
  color: $white;

  @media #{$default-break} {
    &:not(:last-child) {
      padding-bottom: 69px;
    }
  }
}

.stripDataCallout-block-inner {
  @include display(flex);
  @include align-items(center);
  @include justify-content(flex-start);
}

.stripDataCallout-block-value {
  padding-right: 10px;
  font-size: 36px;
  line-height: 100%;
  font-weight: $black;
  text-transform: uppercase;
}

.stripDataCallout-block-caption {
  font-size: 11px;
  font-weight: $bold;
  text-transform: uppercase;
}