/*** Strip Copy Callout ***/

.stripCopyCallout-container {
  @include container(650px, 40px, 40px);
}

.stripCopyCallout-text {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-weight: $font-bold;
}