/*** Strip Data Callout ***/

.stripDataCallout {
  background-color: $navy;
}

.stripDataCallout-container {
  @include container(980px, 55px, 55px, 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 166px;

  @media #{$default-break} {
    flex-direction: column;
  }
}

.stripDataCallout-block {
  color: $white;

  &:not(:last-child) {
    margin-right: 50px;

    @media #{$default-break} {
      margin-right: 0;
      padding-bottom: 55px;
    }
  }
}

.stripDataCallout-block-inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.stripDataCallout-block-value {
  padding-right: 10px;
  font-size: 36px;
  line-height: 100%;
  font-family: $lato-black;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.stripDataCallout-block-caption {
  font-size: 11px;
  font-family: $lato-bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}