/*** Tertiary Callout ***/

.tertiaryCallout {
  background: $light-grey;
  border-top: 1px solid $divider-color;
}

.tertiaryCallout-container {
  @include container(100%, 40px, 40px);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  @media #{$default-break} {
    justify-content: flex-start;
    padding-top: 25px;
    padding-bottom: 30px;
  }
}

.tertiaryCallout-title {
  margin-right: 40px;
  text-align: left;
  font-weight: $font-bold;
  letter-spacing: 0.05em;
  font-size: 18px;
}

.tertiaryCallout-link {
  padding-top: 7px;
}