/*** Testimonials ***/

.testimonials-container {
  @include container(1070px, 85px, 85px, 20px);

  @media #{$default-break} {
    @include container(100%, 60px, 60px, 20px);
  }
}

.testimonials-intro {
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.testimonials-subintro {
  padding-bottom: 60px;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  line-height: 30px;
}

.testimonials-row {
  display: flex;
  justify-content: center;

  @media #{$default-break} {
    flex-direction: column;
  }
}

.testimonials-block {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;

  &:not(:last-child) {
    margin-right: 70px;

    @media #{$default-break} {
      margin-right: 0;
      padding-bottom: 60px;
    }
  }
}

.testimonials-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.testimonials-text {
  padding: 35px 0;
  font-style: italic;
  font-size: 18px;
  line-height: 30px;

  @media #{$default-break} {
    padding: 10px 0;
  }
}

.testimonials-source {
  padding-bottom: 10px;
}