/*** Testimonials ***/

.testimonials-container {
  @include container(1140px, 85px, 0);

  @media #{$default-break} {
    @include container(100%, 60px, 0);
  }
}

.testimonials-intro {
  padding-bottom: 40px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.testimonials-subintro {
  padding-bottom: 60px;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  line-height: 30px;
}

.testimonials-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonials-block {
  margin: 0 35px 85px;
  min-width: 500px;
  width: 500px;

  @media only screen and (max-width: 600px) {
    min-width: 100%;
    width: 100%;
  }

  .tertiaryLink {
    margin-top: 35px;
  }
}

.testimonials-image {
  margin: 0 auto 35px;
  min-height: 254px;
  max-width: 380px;
  @include background-image;

  @media only screen and (max-width: 480px) {
    min-height: 175px;
  }
}

.testimonials-text {
  font-size: 16px;
  line-height: 30px;

  h6 {
    text-transform: uppercase;
    font-weight: $font-bold;
    font-size: 18px;
  }
}