.textBlock-container {
  @include container(820px, 85px, 85px);
  text-align: center;
}

.textBlock-intro {
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
}

.textBlock-content {
  line-height: 30px;

  h6 {
   text-transform: uppercase;
   font-weight: 700;
  }
}

.tabContent .textBlock-container {
  padding-top: 40px;
}