/*** Video Feature ***/

.videoFeature-container {
  @include container(1080px, 85px, 85px);
  text-align: center;

  @media #{$default-break} {
    @include container(100%, 60px, 60px);
  }
}

.videoFeature-intro {
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.videoFeature-subintro {
  padding-bottom: 45px;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  line-height: 30px;
}

.video-cta {
  margin-top: 50px;
}

.videoFeature-video {
  max-width: 980px;
  margin: 0 auto;
}

// .videoFeature-video-inner {
//   position: relative;
//   padding-bottom: 56.2244898%;
//   height: 0;
// }

// .player {
//   display: none;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

// .videoFeature-video-playButton {
//   position: absolute;
//   margin: auto;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   width: 105px;
//   height: 105px;
//   opacity: 0.6;
//   cursor: pointer;
//   transition: all 0.3s;

//   @media #{$default-break} {
//     width: 65px;
//     height: 65px;
//   }
// }

// .videoFeature-video-playButton:hover {
//   opacity: 1;
//   -webkit-filter: brightness (1);
// }

// .videoFeature-video-poster {
//   position: relative;
//   margin: 0 auto;
//   width: 100%;
//   height: 0;
//   padding-top: 56.2244898%;
//   overflow: hidden;
// }

// .videoFeature-video-poster-image {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   width: 100%;
//   height: 100%;
// }

// Video.js player
.videoFeature .video-js {
  margin: 0 auto;
  width: 100%;
  height: 0;
  padding-top: 56.2244898%;
}

.videoFeature .video-js .vjs-big-play-button {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 105px;
  height: 105px;
  border: none;
  background-color: transparent;
  border-radius: 0;
  transition: none;

  @media #{$default-break} {
    width: 65px;
    height: 65px;
  }
}

.videoFeature .vjs-icon-play:before,
.videoFeature .video-js .vjs-big-play-button:before {
  content: '';
  background-image: linear-gradient(transparent, transparent), url("#{$asset-path}/play_button.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.videoFeature .video-js:hover .vjs-big-play-button,
.videoFeature .video-js .vjs-big-play-button:focus {
  background-color: transparent;
  border-color: transparent;
  transition: none;
}